body {
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/61ZQlDq1kyL._SX466_.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: 100%;
}

.jumbotron {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin: 0 10%;
    padding: 1rem 1rem;
    background-color: rgba(237, 170, 2, .6)
}
.display-3 {
    font-size: 4vw;
    padding-top: 1%;
}

.lead {
    font-size: 3vw;
}

#title {
    font-size: 4vw;
    color: darkred;
}

.btn {
    background-color: black;
    border-color: orange;
}